<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div id="main_menu" class="blue">
    <h1>Fan's Homepage</h1>
</div>
<div id="main content">
    <p>
    <span class="roman makeBigger">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia mi eu sollicitudin efficitur. Sed pulvinar
    nunc vel congue mattis. Phasellus consectetur sem non nisl porttitor commodo. Sed sit amet ligula a quam feugiat
    faucibus. Integer aliquam leo eu porta mattis. </span>Pellentesque imperdiet sit amet eros eu sagittis. Nunc felis urna,
    blandit eu tempor at, dignissim vehicula dolor. Nam cursus molestie sagittis. Integer pulvinar vel quam a elementum.
    </p>
    <p>
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec felis ex, sagittis non
    suscipit vitae, sollicitudin ac nisi. Aliquam cursus pharetra orci quis interdum. Nunc libero felis, vehicula in
    massa sagittis, laoreet lacinia eros. Nullam mollis, enim non placerat sodales, metus neque dapibus ipsum, non
    vestibulum erat nunc et nibh. Vivamus porta gravida lectus porttitor fermentum. Suspendisse faucibus tristique
    metus, ut accumsan sem pretium ac. Donec cursus finibus sem. Donec posuere nulla nulla, at semper mi euismod vitae.
    Mauris ac tellus justo.
    </p>
    <p>
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque commodo, lectus et condimentum faucibus,
    ante nisl egestas lorem, nec commodo libero purus in erat. Mauris faucibus ipsum sapien, ut gravida leo commodo in.
    Mauris ex ex, tempor ac congue eget, suscipit vel lorem. Morbi varius, erat nec malesuada elementum, neque lectus
    consectetur purus, vel malesuada urna nibh at quam. Nulla imperdiet nulla sed lorem condimentum, eget tristique
    nulla euismod. Duis eu mattis purus. Sed non porta orci, tincidunt feugiat eros. Integer luctus congue magna, quis
    pulvinar lorem hendrerit a.
    </p>
    <p>
    Maecenas eleifend mi enim, tincidunt elementum sem ultricies maximus. Phasellus efficitur purus ut semper aliquam.
    Sed congue tortor ornare tortor bibendum tincidunt. In commodo aliquam est ut ornare. Aenean non cursus ex. Proin
    varius dictum purus at elementum. Suspendisse porttitor nisi arcu, ut eleifend tortor facilisis in. Donec et ipsum
    porttitor, pharetra ligula id, consectetur est. Pellentesque ligula ipsum, ultrices at arcu vitae, volutpat pharetra
    quam. Donec auctor est est, id pellentesque arcu ultrices id. Nulla egestas non magna in euismod. Morbi scelerisque
    euismod augue, quis convallis erat convallis vel. Etiam sit amet magna a enim efficitur accumsan eget non diam.
    Vestibulum ut scelerisque odio. Curabitur dignissim erat eget ante vestibulum, at condimentum purus tristique.
    </p>
    <p>
    Praesent iaculis ex vitae vestibulum lacinia. Ut sit amet libero magna. Phasellus sed tempor libero. Vestibulum
    euismod leo quis lacus accumsan, posuere pellentesque sapien semper. Quisque ut urna et felis condimentum dapibus
    vel vel massa. Curabitur id egestas massa. Integer a ante congue, gravida velit suscipit, sodales dolor. Morbi
    fringilla, purus vitae ultricies suscipit, nisi magna mollis lorem, id placerat nunc libero id nisl. Sed efficitur
    diam neque, id euismod arcu euismod in.
    </p>
</div>


</body>
</html>
